<h2>{{product.name}}</h2>

<p >
    {{html-safe product.description}}
</p>
<p class="admin-product-info">
  wallet:  {{walletName}} <br>

  group:  {{groupName}} <br>

  display position:  {{product.position}} <br>
</p>


  {{#if stagenet}}

<p class="wallet-stagenet">
stagenet
</p>
  {{/if}}

  {{#unless product.active}}

<p class="admin-product-active">
inactive
</p>
  {{/unless}}

<div class="product-align-buttons">
      {{d-button
      action=(route-action "addPlansToProduct")
      actionParam=product.id
      label="monero_discourse_subscriptions.admin.products.operations.addPlans"
      title="monero_discourse_subscriptions.admin.products.operations.addPlans"
      icon="plus"
      class="btn btn-icon btn-primary addPlans-product"
    }}

         {{d-button
       action=(route-action "editProduct")
       actionParam=product
       icon="far-edit"
       class="btn no-text btn-icon"
     }}
     {{d-button
       action=(route-action "destroyProduct")
       actionParam=product.id
       icon="trash-alt"
       class="btn-danger btn no-text btn-icon"
     }}
</div>
