{{#if invoice_error}}
<div class="invoice-error">{{invoice_error}}</div>
{{else}}
  {{#if invoice.missing_amount}}
  <span style="color:orange">
    we received your transaction, but there is still a missing amount:  {{monero-format-amount invoice.missing_amount invoice.missing_currency}}
  </span> <span style="color:grey;cursor:pointer " onclick={{action "showInvoice" invoice}}>details... </span>
{{/if}}
<div class="invoice-container">
    <a href="{{invoice.payment_uri}}"><img src="{{invoice.payment_uri_qrcode}}"></a>
    <div class="address-amount">
    <span class="xmraddress"><span class="xmrlabel">address: </span>{{invoice.address}}</span> 
    <br>
    <span class="xmramount">
    <span class="xmrlabel">amount:</span> <br>
    {{invoice.display_amount}}
    </span>
    </div>

</div>
please make sure your transaction arrives within <span class="conversionRateValid"> {{minutesLeft}}
</span>
<br>
if you need more time please press {{#ds-button
  action=(action "refreshInvoice" invoice)
 class="btn btn-primary btn-small"}}refresh rate{{/ds-button}} {{#if refreshed}}<span class="refreshed"> ...refreshed</span>{{/if}}<br>
<span class="gray-tip" >(dont hit the refresh rate button after you sent the transaction as the conversion rate will change)</span>
{{/if }}
