<h2>{{wallet.name}}</h2>

<p class="wallet-primaryAddress">
  {{wallet.primaryAddress}}
</p>

<p class="wallet-restoreHeight">
  restore height: {{wallet.restoreHeight}}
</p>
  {{#if wallet.stagenet}}

<p class="wallet-stagenet">
stagenet
</p>
  {{/if}}
<p class="wallet-serverUri">
  {{wallet.serverUri}}
       {{d-button
       action=(route-action "changeNode")
       actionParam=wallet.id
       icon="far-edit"
       class="btn no-text btn-icon"
     }}
</p>

<div class="wallet-align-buttons">
     {{d-button
       action=(route-action "destroyWallet")
       actionParam=wallet.id
       icon="trash-alt"
       class="btn-danger btn no-text btn-icon"
     }}
</div>
