{{#if model.active}}
<div class="discourse-subscriptions-section-columns">
  <div class="section-column discourse-subscriptions-confirmation-billing">
    <h2>
      {{model.name}}
    </h2>

    <hr>

    <p>
      {{html-safe model.description}}
    </p>
      {{#if model.stagenet}}

<p class="wallet-stagenet">
stagenet
</p>
  {{/if}}
  </div>

  <div class="section-column">
      <h2>
        {{i18n "monero_discourse_subscriptions.subscribe.card.title"}}
      </h2>

      <hr>
        {{#unless noPlans}}

      
              {{#if model.subscribed}}
                    <p class="purchased">&#x2713; {{i18n "monero_discourse_subscriptions.subscribe.subscribed_until"}} {{monero-format-datetime model.end_date}}
                    </p>
                    <p>
                      {{i18n "monero_discourse_subscriptions.plans.select_prolong"}}
                    </p>
              {{/if}}
              {{#unless model.subscribed}}

                <p>
                  {{i18n "monero_discourse_subscriptions.plans.select"}}
                </p>
              {{/unless}}

      {{/unless}}

<div class="monero-subscribe-buttons">
  {{#unless noPlans}}
    {{#each active_plans as |plan|}}


{{monero-plan-button plan=plan selectedPlanId=selectedPlanId planClick=(action 'planClick')}}

  {{/each}}
      {{/unless}}
  {{#if noPlans}}
  <p>{{i18n "monero_discourse_subscriptions.subscribe.no_plans"}}</p>

  {{/if}}
  </div>
      <hr>
    {{#unless isLoggedIn}}
      {{monero-login-required}}
    {{/unless}}
  {{#unless noPlans}}

    {{#if isLoggedIn}}
        {{monero-invoice product_name=model.name plans=active_plans invoice=invoice invoice_error=invoice_error selectedPlanId=selectedPlanId planClick=(action 'planClick') refreshInvoice=(action 'refreshInvoice') refreshed=refreshed}}
      {{/if}}
    {{/unless}}

  </div>
</div>
{{/if}}
{{#unless model.active}}
  <p>{{i18n "monero_discourse_subscriptions.subscribe.product_not_active"}}</p>

  {{/unless}}